.btn {
    background-color: #79ae92;
    width: 60px;
    height: 70px;
    border-radius: 5px;
    margin-top: 60px;
    box-shadow: 0px 3px 5px #001f36;
    cursor: pointer;
}


.divTeste {
    display: flex;
    justify-items: center;
    align-items: center;
}